.isActive {
    color: lightgreen;
}

.isInactive {
    color: lightcoral;
}

.stroke {
    text-decoration: line-through;
}



.even {
    color: aquamarine;
}

.odd {
    color: lightskyblue;
}

.first {
    text-transform: uppercase;
}

.last {
    font-weight: bold;
}